body {
    background-color: #ffe6f2;
    font-family: "Arial", sans-serif;
    margin: 0;    
}

.container {
    max-width: 600px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    color: #ff4d88;
}

.lista {
    text-align: left;
    margin: 20px auto;
    width: fit-content;
    font-size: 18px;
}

button {
    background: #ff80b3;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;

}

button:hover {
    background: #ff4d88;
}

/* Modo colorido */
.colorido {
    background: linear-gradient(120deg, #ffd6e7, #fff3cd, #d6f5ff);
    transition: 0.5s;
}
